{% extends 'core/base.html' %}

{% block title %}Принять приглашение  |  {% endblock %}

{% block content %}
  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li><a href="{% url 'dashboard' %}">Информационная панель</a></li>
      <li><a href="{% url 'myaccount' %}">Мой аккаунт</a></li>
      <li class="is-active"><a href="{% url 'accept_invitation' %}" aria-current="page">Принять приглашение</a></li>
    </ul>
  </nav>

  <div class="columns">
    <div class="column is-4">
      <h1 class="title">Принять приглашение</h1>
      <form action="." method="post">
        {% csrf_token %}

        <div class="field">
          <label for="id_code">Код приглашения(из e-mail)</label>

          <div class="control">
            <input type="text" name="code" id="id_code" class="input">
          </div>
        </div>

        <div class="field">
          <div class="control">
            <button class="button is-success">Принять</button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}