{% extends 'core/base.html' %}

{% load dashboardextras %}

{% block title %}Информационная панель  |  {% endblock %}

{% block content %}
  <div class="columns is-multiline">
    <div class="column is-6">
      <div class="notification">
        <h2 class="subtitle">
          Ваше время за {% if num_days is 0 %}сегодня{% else %}{{ date_user|date:"Y-m-d" }}{% endif %}
        </h2>

        {% if date_entries %}
          <table class="table is-fullwidth" style="text-align: left;">
            <thead>
            <tr>
              <td>Задача</td>
              <td>Проект</td>
              <td>Время</td>
            </tr>
            </thead>

            <tbody>
            {% for entry in date_entries %}
              <tr>
                <td>{{ entry.task.title }}</td>
                <td>{{ entry.project.title }}</td>
                <td>{{ entry.minutes|format_minutes }}</td>
              </tr>
            {% endfor %}
            </tbody>

            <tfoot>
            <tr>
              <td colspan="2">Всего</td>
              <td>{{ time_for_user_and_date|format_minutes }}</td>
            </tr>
            </tfoot>
          </table>
        {% else %}
          <p class="block">Нет записей...</p>
        {% endif %}
        <a href="?num_days={{ num_days|add:'1' }}" class="mt-4">Назад</a>
        {% if num_days > 0 %}
          <a href="?num_days={{ num_days|add:'-1' }}" class="mt-4">Вперед</a>
        {% endif %}
      </div>
    </div>
    <div class="column is-6">
      <div class="notification">
        <h2 class="subtitle">
          Ваше время за {% if user_num_month is 0 %}этот месяц{% else %}{{ user_month|date:"m-Y" }}{% endif %}
        </h2>

        {% if time_for_user_and_month %}
          <table class="table is-fullwidth" style="text-align: left;">
            <thead>
            <tr>
              <td>Проект</td>
              <td>Время</td>
            </tr>
            </thead>

            <tbody>
            {% for project in all_projects %}
              {% if project.time_for_user_and_project_and_month > 0 %}
                <tr>
                  <td>{{ project.title }}</td>
                  <td>{{ project.time_for_user_and_project_and_month|format_minutes }}</td>
                </tr>
              {% endif %}
            {% endfor %}
            </tbody>

            <tfoot>
            <tr>
              <td>Всего</td>
              <td>{{ time_for_user_and_month|format_minutes }}</td>
            </tr>
            </tfoot>
          </table>
        {% else %}
          <p class="block">Нет записей в этом месяце...</p>
        {% endif %}
        <a href="?user_num_month={{ user_num_month|add:'1' }}" class="mt-4">Назад</a>
        {% if user_num_month > 0 %}
          <a href="?user_num_month={{ user_num_month|add:'-1' }}" class="mt-4">Вперед</a>
        {% endif %}
      </div>
    </div>

    <div class="column is-6">
      <div class="notification">
        <h2 class="subtitle">Ваши неотслеживаемые записи</h2>
        <table class="table is-fullwidth" style="text-align: left;">
          <thead>
          <tr>
            <th>Начало</th>
            <th>Время</th>
            <th>Статус</th>
            <th>Добавить к задаче</th>
            <th>Удалить запись</th>
          </tr>
          </thead>
          <tbody>
          {% for entry in untracked_entries %}
            <tr>
              <td>{{ entry.created_at }}</td>
              <td>
                {% if entry.minutes == 0 %}
                  {{ entry.minutes_since|format_minutes }}
                {% else %}
                  {{ entry.minutes|format_minutes }}
                {% endif %}
              </td>
              <td>
                {% if entry.minutes == 0 %}
                В процессе
                {% else %}
                  Неотслеживается
                {% endif %}
              </td>
              <td><a href="{% url 'project:track_entry' entry.id %}">Добавить к задаче</a></td>
              <td><a href="{% url 'project:delete_untracked_entry' entry.id %}">Удалить</a></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    {% if request.user == team.created_by %}
      <div class="column is-6">
        <div class="notification">
          <h2 class="subtitle">
            Ваша команда {% if team_num_month is 0 %}в этом месяце{% else %}{{ team_month|date:"m-Y" }}{% endif %}
          </h2>
          {% if time_for_team_and_month > 0 %}
            <table class="table is-fullwidth" style="text-align: left;">
              <thead>
              <tr>
                <th>Имя</th>
                <th>Время</th>
              </tr>
              </thead>

              <tbody>
              {% for member in members %}
                <tr>
                  <td><a href="{% url 'view_user' member.id %}">{% firstof member.get_full_name member.username %}</a>
                  </td>
                  <td>{{ member.time_for_user_and_team_month|format_minutes }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          {% else %}
            <p>Нет зарегистрированного времени вашей команды в этом месяце...</p>
          {% endif %}

          <a href="?team_num_month={{ team_num_month|add:'1' }}" class="mt-4">Назад</a>
          {% if team_num_month > 0 %}
            <a href="?team_num_month={{ team_num_month|add:'-1' }}" class="mt-4">Вперед</a>
          {% endif %}
        </div>
      </div>
    {% endif %}
  </div>
  <div class="columns is-multiline">
    <div class="column is-12">
      <h2 class="subtitle">Последние проекты</h2>
    </div>

    {% for project in last_projects %}
      <div class="column is-3">
        <div class="notification">
          <h2 class="is-size-5">{{ project.title }}</h2>
          <p class="is-size-7">Затраченное время: {{ project.registered_time|format_minutes }}</p>
          <p class="is-size-7">Колличество задач: {{ project.get_num_tasks_todo }}</p>
          <hr>
          <a href="{% url 'project:get_project' project.id %}" class="button is-info">Подробнее</a>
        </div>
      </div>
    {% empty %}
      <div class="column is-3">
        <div class="notification">
          <p>Еще нет проектов...</p>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}