{% extends 'core/base.html' %}

{% load static %}

{% block title %}Политика конфиденциальности  |  {% endblock %}

{% block content %}
  <section class="hero is-medium is-light is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">Политика конфиденциальности</h1>
        <h2 class="subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam assumenda autem blanditiis deserunt doloremque ducimus ex, excepturi explicabo fugiat, iusto labore magni nemo quia quibusdam quidem repudiandae sit tempora, ullam!</h2>
      </div>
    </div>
  </section>
{% endblock %}