{% extends 'core/base.html' %}

{% load static %}

{% block title %}Условия использования  |  {% endblock %}

{% block content %}
  <section class="hero is-medium is-light is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">Условия использования</h1>
        <h2 class="subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus amet atque deserunt dolorum exercitationem expedita, incidunt ipsa magni neque numquam, odit pariatur quas quasi repellendus sunt voluptate voluptatem. Obcaecati, provident.</h2>
      </div>
    </div>
  </section>
{% endblock %}